@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
    --width : 450px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 150px;
    background-image: url(../img/Piedra-papel-o-tijera_350x150.jpg);
    height: 100vh;
    padding: 2%;
}

header, main {
    background-color: turquoise;
}

main {
    max-width: var(--width);
    margin:1rem auto;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 1rem;

    div {
        display: flex;
        justify-content: space-between;
    }
    label {
        font-size: 4rem;
    }

    input {

        display: none;
    }

    input:checked + label{
        border: 3px solid orange;
        border-radius: 10px;
        font-size: 5rem;
    }

    button {
        padding: .5rem 1rem;
        border-radius: 10px;
        background-color: yellow;
        
    }
}

form {

    text-align: center;
}

header {
    text-align: center;
    padding: 1rem;
    border: 5px solid #000;
    border-radius: 10px;
    button {
        padding: .5rem 1rem;
        border-radius: 10px;
        background-color: yellow;
    }

    p {


    }
}