@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
    --width : 450px;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 200px;
    background-image: url(../img/Piedra-papel-o-tijera_350x150.jpg);
    height: 100vh;
}

header, main {
    background-color: turquoise;
}

main {
    max-width: var(--width);
    margin:1rem auto;
}

header {
    text-align: center;
    padding: 1rem;
    border: 5px solid #000;
    border-radius: 10px;

    button {

        padding: .5rem 1rem;
        border-radius: 10px;
    }
}